@charset "utf-8";
/* CSS Document */





.main_div{
width:100%;
}

.info{
width:80%;
background-color:white;
float:left;
margin-left:20px;
height:auto;
}

.infoname{
background-image: -webkit-linear-gradient(270deg,rgba(0,206,209,1.00) 0%,rgba(0,156,208,1.00) 90.16%);
	background-image: -moz-linear-gradient(270deg,rgba(0,206,209,1.00) 0%,rgba(0,156,208,1.00) 90.16%);
	background-image: -o-linear-gradient(270deg,rgba(0,206,209,1.00) 0%,rgba(0,156,208,1.00) 90.16%);
	background-image: linear-gradient(180deg,rgba(0,206,209,1.00) 0%,rgba(0,156,208,1.00) 90.16%);
height:50px;
width:100%;
padding-top:10px;
padding-left:10px;
}

.infoimg{
	background-color:white;
	padding:10px;
float:left;
width:30%;

}

.productinfo{
margin-top:10px;
background-color:white;
float:left;
width:65%;

}

.productinfo table td {
width:100%;
background-color:#F5F5F5;
}

.displayname{
background-color:yellow;
text-align:right;
height:50px;
}

.displayname p{
line-height:50px;
margin-right:40px;
font-size:24px;
margin-top:0;
}

.buyerinfo{
width:100%;

float:right;
margin-top:50px;
}


.buyerinfo table{
width:70%;
margin-left:auto;
margin-right:auto;
}
 .buyerinfo input {
 width:70%;
 margin-left:25%;
 }
 
 .buyerinfo textarea {
 width:70%;
 margin-left:25%;
 }
 
 .buyerinfo td{
 font:Comic Sans MS;
 font-size:25px;
 background-color:#F5F5F5;
}
 
.usertable{
margin-right:auto;
margin-left:auto;
}

.buyerinfo th{
width:35%;
background-color:#F5F5F5;
}

footer{
	font-style: normal;
	font-weight: bold;
	font-size: small;
	text-align: center;
	color: #4B4949;
	height: 50px;
	width: 100%;
}
