@charset "utf-8";
/* CSS Document */

body{
background-color:#F4EFEF;
}
header{
	margin: auto;
	width: auto;
	height: 100px;
}

.mainhead{
	height: 150px;
	width: 100%;
	position:relative;
}

.userinfo{
position:absolute;
width:23%;
bottom:0px;
right:0px;
max-height:50px;
}

.userinfo p{
text-align:right;
font-size:20px;
padding-right:20px;
font-family:Tekton Pro;
}

.userinfo p img{
border-radius:15px;
}

nav {
height:100px;
width:100%;
margin:auto;
}

nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

nav ul li{
float:left;
width:20%;
position:relative;
background-image: -webkit-linear-gradient(270deg,rgba(86,86,86,1.00) 22.80%,rgba(108,106,106,1.00) 53.37%,rgba(132,132,132,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(86,86,86,1.00) 22.80%,rgba(108,106,106,1.00) 53.37%,rgba(132,132,132,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(86,86,86,1.00) 22.80%,rgba(108,106,106,1.00) 53.37%,rgba(132,132,132,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(86,86,86,1.00) 22.80%,rgba(108,106,106,1.00) 53.37%,rgba(132,132,132,1.00) 100%);
	
}

	
nav li a:hover{
background-image: -webkit-linear-gradient(270deg,rgba(128,255,3,1.00) 52.33%,rgba(151,255,26,1.00) 70.47%,rgba(161,255,35,1.00) 79.79%,rgba(166,255,40,1.00) 88.60%,rgba(173,255,47,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(128,255,3,1.00) 52.33%,rgba(151,255,26,1.00) 70.47%,rgba(161,255,35,1.00) 79.79%,rgba(166,255,40,1.00) 88.60%,rgba(173,255,47,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(128,255,3,1.00) 52.33%,rgba(151,255,26,1.00) 70.47%,rgba(161,255,35,1.00) 79.79%,rgba(166,255,40,1.00) 88.60%,rgba(173,255,47,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(128,255,3,1.00) 52.33%,rgba(151,255,26,1.00) 70.47%,rgba(161,255,35,1.00) 79.79%,rgba(166,255,40,1.00) 88.60%,rgba(173,255,47,1.00) 100%);
font-weight:bolder;
}



nav li a{
display:block;
text-align:center;
text-decoration:none;
font-size:30px;
font-family:Comic Sans MS;
color:white;
}

nav li ul{
display:none;
float::left;
position:absolute;

}

nav li:hover ul{
display:block;
}

nav li ul li{
width:100%;
}


.submenu:hover a{
background-image: -webkit-linear-gradient(270deg,rgba(86,86,86,1.00) 22.80%,rgba(108,106,106,1.00) 53.37%,rgba(132,132,132,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(86,86,86,1.00) 22.80%,rgba(108,106,106,1.00) 53.37%,rgba(132,132,132,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(86,86,86,1.00) 22.80%,rgba(108,106,106,1.00) 53.37%,rgba(132,132,132,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(86,86,86,1.00) 22.80%,rgba(108,106,106,1.00) 53.37%,rgba(132,132,132,1.00) 100%);
}
 
.submenuitem a{
font-size:26px;
}

.submenuitem a:hover{
background-image: -webkit-linear-gradient(270deg,rgba(0,206,209,1.00) 0%,rgba(0,156,208,1.00) 90.16%);
	background-image: -moz-linear-gradient(270deg,rgba(0,206,209,1.00) 0%,rgba(0,156,208,1.00) 90.16%);
	background-image: -o-linear-gradient(270deg,rgba(0,206,209,1.00) 0%,rgba(0,156,208,1.00) 90.16%);
	background-image: linear-gradient(180deg,rgba(0,206,209,1.00) 0%,rgba(0,156,208,1.00) 90.16%);
}

.rightsidebar{
width:25%;
height:auto;
float:right;
margin-right:25px;	
}


table{

margin-right:15px;
}


.header1{
background-color:#3F3C3C;
color:#FFFFFF;
padding:10px;
height:20px;
}

.main{
width:68%;
background-color:#F4EFEF;
margin-top:10px;
margin-left:50px;
}


footer{
	font-style: normal;
	font-weight: bold;
	font-size: small;
	text-align: center;
	color: #4B4949;
}
