@charset "utf-8";
/* CSS Document */

body{
	background-color: #F4EFEF;
	
}


.data{
width:100%;
margin-top:20px;
}

.customerid{
width:2%;
background-color:#CCC;
}

.orderid{
width:4%;
background-color:white;
}

.name{
width:15%;
background-color:#CCC;
}

.emailid{
width:20%;
background-color:white;
}


.password{
width:5%;
background-color:#CCC;
}

.contact{
width:9%;
background-color:white;
}

.address{
width:35%;
height:80px;
background-color:#CCC;
}



.delivered{
width:10%;
background-color:white;
}



